* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @font-face {
    font-family: "Abril Fatface";
    src: url("/xampp/htdocs/stronka-samoloty-projekt/czcionki/Abril_Fatface/AbrilFatface-Regular.ttf") format("truetype");
    font-weight: 100;
}
  @font-face {
    font-family: "Bebas Neue";
    src: url("/xampp/htdocs/stronka-samoloty-projekt/czcionki/Bebas_Neue/BebasNeue-Regular.ttf") format("truetype");
  }

  body {
    background-color: #3b3b3b;
  }
  
  nav {
    display: flex; /* Używamy Flexbox do rozmieszczenia przycisków */
    justify-content: center; /* Wyśrodkowanie w poziomie */
    align-items: center; /* Wyśrodkowanie w pionie */
    gap: 20px; /* Odstęp między przyciskami */
    margin: 0px;
    padding: 10px;
    height: 35%; /* Wysokość nawigacji */
    width: 100%; /* Rozciągnięcie na całą szerokość strony */
    background-color: #3b3b3b;
  }
  
  nav button {
    background-color: #b2b2b2; /* Tło przycisków jest przezroczyste */
    color: #757575;
    border: 1px solid grey; /* Dodanie ramki przycisku */
    padding: 10px 20px; /* Dodanie przestrzeni wewnętrznej */
    cursor: pointer; /* Zmiana kursora na wskazujący */
    border-radius: 15%;
  }
  
  nav button:hover {
    background-color: rgba(255, 217, 0, 0.651); /* Zmiana tła przycisku po najechaniu */
  }
  
  nav a {
    text-decoration: none; /* Usuwamy podkreślenie z linków */
    color: black; /* Kolor tekstu linków */
    font-size: 16px; /* Możesz zmienić rozmiar czcionki */
    display: block; /* Ustawienie <a> jako blok, by przyciski były większe */
  }
  
  #main {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(C:/xampp/htdocs/stronka-samoloty-projekt/images/background2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat:no repeat;
  }

  
  #map-localization {
    height: 100%;
    margin: 0;
    display: none;
    justify-content: center; /* Wyśrodkowanie w poziomie */
  }
  .main-block{
    height: 75%;
    width: 23%;
    border: 2px solid white;
    border-radius: 25px;
    background-color: #b2b2b2;
    opacity: 0.90;
  }
  
  iframe {
    display: block;
  }
  

  footer{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  footer h2{
    color: #b2b2b2;
    font-family: "Bebas Neue";
  }
  footer h4{
    color: #757575;
    font-family: "Abril Fatface";
  }
  footer a{
    text-decoration: none;
  }

  #footer-login{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2px;
  }
  #footer-login input{
    border-radius: 5px;
    border: 0.5px solid black;
    height: 33px;
    text-align: center;
  }
  #footer-login button{
    border-radius: 5px;
    border: 0.5px solid black;
    height: 33px;
    text-align: center;
    width: 75px;
    background-color: rgb(205, 95, 71);
    color: #b2b2b2;
  }

  #footer-copyright,a{
    display: flex; /* Używamy Flexbox do rozmieszczenia przycisków */
    justify-content: center; /* Wyśrodkowanie w poziomie */
    align-items: center; /* Wyśrodkowanie w pionie */
    gap: 10px; /* Odstęp między przyciskami */
    margin: 0px;
    padding: 2px;
    color: #b2b2b2;
    font-family: "Bebas Neue";
  }